body {
	font-family: sans-serif;
	background: #ddd;
}

.clear {
	clear: both;
}

a {
	color: #24c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 110%;
	font-weight: bold;
}
#menu li {
	float: left;
	margin-left: 25px;
}

.episodelist > div {
	width: 450px;
	margin-bottom: 5px;
	text-align: center;
}
.episode {
	text-align: left;
	border: 1px solid #33a;
	background: #aaf;
}
.episode div {
	display: table-cell;
}
.episode-ranking {
	font-weight: bold;
	color: #fff;
	background: #55c;
	padding: 5px 5px 5px 10px;
	vertical-align: middle;
	text-align: right;
	width: 35px;
	overflow: hidden;
}
.episode-ranking:hover {
	background: #33a;
	cursor: pointer;
}
.episode-ranking input {
	width: 35px;
}
.episode-ranking .average {
	font-size: 75%;
	color: #ddd;
}
.episode-title {
	padding: 5px 5px;
	width: 340px;
	text-align: left;
	font-size: 110%;
}
.episode-rating {
	padding: 5px 10px 5px 5px;
	vertical-align: middle;
	width: 35px;
	background: #77d;
}

fieldset {
	width: 50%;
}
label, input, textarea {
	float: left;
	clear: left;
}
input, textarea {
	width: 100%;
}
input[type=submit], input[type=checkbox], input[type=radio] {
	width: auto;
}
input[type=checkbox], input[type=radio], label.tick {
	float: left;
	clear: none;
}
span.error {
	color: #f00;
	font-weight: bold;
}

#listsortbox {
	position: fixed;
	right: 15px;
	top: 75px;
	width: 250px;
	border: 1px solid #aaf;
}
#listsortbox label, #listsortbox input {
	float: left;
	width: auto;
	clear: none;
}
#colourlegend-content {
	padding: 2px 10px;
}
#colourlegend-content div {
	padding: 2px 4px;
	margin-top: 2px;
}
